<%- partial('../homepage.ejs') %>


<div class="container todoDiv">


  <h1>You don't have any items on you list!</h1>
  <br>
  <a href="/todo/create/" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Add item</a>
  </br><br><br>


</div>
